
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-offset: 0.125em;
  text-decoration: none;
  vertical-align: baseline;
}

html {
  height: 100%;
  border-collapse: collapse;
}

body {
 /* grid  */
  display: grid;
  grid-template-areas:
    "header sidebar"
    "content sidebar"
    "footer footer";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 1fr auto;
  /* grid-gap: 1em; */
  height: 100vh;
  /* base typography */
  background-image: url( '/icons/mackenzie');
  /* background: hsla(0, 0%, 62%, .7);  #9f9f9f */
 /* color: hsla(0, 0%, 87%, 1)   #dddddd; */  color: #333;/* color: #24292e; */
  color: hsla(0, 0%, 6%, 1); /* #0f0f0f */
  font-size: calc(16px + 0.25vw); /* font grows 1px for every 100px of viewport width*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: calc(1em + 0.25vw);  /* leading grows along with font, */
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}

header {
  grid-area: header;
  background-color: hsla(93, 82%, 13%, .5); /* #1f3d06 */
  color: #bac4b2;
  /* height: calc( 16 * 4 + 8); */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.25em;
  font-weight: 600;
  line-height: 1.4;
  padding-top: .5em;
  padding-bottom: .5em;
}

footer {
  grid-area: footer;
  /* box properties   
  text-align: center;
  font-size: 0.8em;
*/

}


article,
main {
  background-color: hsla(204, 25%, 80%, .9); /* #c0cfd9 */
}

body > article {
  grid-area: content;
  /* declare article a block display */
  display: block;
  margin-left: auto;
  margin-right: auto;

  /* margin-right: auto; */
   min-width: 200px;
   max-width: 980;
   padding: 45px;

}


body > main {
  grid-area: content;
  /* declare main a flex container*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*
  border-right: 2px solid hsla(74, 36%, 61%, 1);
  padding-right: 0.5em;
  padding-left: 0.5em;
  */
}

body > aside {
  grid-area: sidebar;
  /* box properties */
}

@media (max-width: 760px) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}


/* INLINE */

/* images */

img {
  /*
  float: left;
  display: block;
  margin-right: 0.5em;
  margin-left: 0.5em;
  */
  background-color: #fff;
  border-style: none;
  box-sizing: initial;
  max-height: 100%;
  max-width: 100%;
}

img[align=right] {
  padding-left: 20px;
}

img[align=left] {
  padding-right: 20px;
}



hr {
  box-sizing: initial;
  height: .25em;
  padding: 0;
  margin: 24px 0;
  overflow: hidden;
  background-color: #e1e4e8;
  border: 0;
}

hr:after,
hr:before {
  display: table;
  content: "";
}

hr:after {
  clear: both;
}



input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input [type=checkbox] {
 box-sizing: border-box;
 padding: 0;
}

a {
  display: inline-block;
  color: #0366d6;
  background-color: transparent;
  border-radius: 0.25em;
  text-decoration: none;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

a:link,
a:visited {
  /*
  border-top: solid 1px transparent;
  border-bottom: dotted 2px #6ba0e0;
  */
  text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0;
  text-decoration: underline;
  /*
  border-top: solid 1px transparent;
  background-color: #0072ff;
  color: silver;
  border-bottom: solid 2px silver;
  */
}

strong {
font-weight: inherit;
font-weight: bolder;
}


em {
 font-style: italic;
}

del {
  text-decoration: line-through;
}

small {
  font-size: smaller;
}

/* code blocks */

code,
kbd,
pre {
  font-size: 1em;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  margin: 0;
}

code {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-size: 85%;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

code:before,
code:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  word-wrap: normal;
}

pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

/* highlight js */

.highlight {
  margin-bottom: 16px;
}

.highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.highlight pre,
 pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

pre code {
  display: inline;
  background-color: transparent;
  border-radius: 3px;
  border: 0;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: initial;
  padding: 0;
  white-space: pre;
  word-wrap: normal;
}

pre code:before,
pre code:after {
  content: normal;
}

kbd {
  background-color: #fafbfc;
  border-radius: 3px;
  border: 1px solid #d1d5da;
  box-shadow: inset 0 -1px 0 #d1d5da;
  color: #444d56;
  display: inline-block;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}


/* BLOCK */


/* headings */

h1,
h2,
h3,
{
  font-weight: 600;
  line-height: 1.4;
  margin-top: 1em;
  margin-bottom: 1em;
}

h1,
h2 {
 padding-bottom: .3em;
 border-bottom: 1px solid #eaecef;
}

h1 {
  margin: 0.67em 0;
  font-size: 2.25em;
  line-height: 1.2;
}

h2 {
  font-size: 1.75em;
  line-height: 1.225;
}

h3 {
  font-size: 1.5em;
  line-height: 1.43;
  color: #6a737d;
}

blockquote,
details,
div,
dl,
ol,
p,
pre,
table,
ul {
  display: block;
  margin-top: 0;
  margin-bottom: 1em;
}


/* lists */

ol,
ul {
  padding-left: 2em;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ol ol ol,
ol ul ol,
ul ol ol,
ul ul ol {
 margin-bottom: 0;
 list-style-type: lower-alpha;
}

li {
  word-wrap: break-all;
}

li > p {
  margin-top: 16px;
}

li+li {
  margin-top: .25em;
}


.task-list-item {
  list-style-type: none;
}

.task-list-item  .task-list-item {
  margin-top: 3px;
}

.task-list-item input {
  margin: 0 .2em .25em -1.6em;
  vertical-align: middle;
}

.task-list-item input[disabled] {
  cursor: default;
}

.task-list-item input[type="checkbox"],
.task-list-item input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}


.table-of-contents ol {
  list-style: none;
}

.table-of-contents > ol {
  padding-left: 0;
}

.vertical_list {
  list-style-image: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.vertical_list li a:link,
.vertical_list li a:visited {
  display: block;
  padding-left: 20px;
  text-decoration: none;
  border-right: solid 2px #94cf94;
  border-bottom: solid 1px #94cf94;
}

.vertical_list li a:hover {
  padding-left: 10px;
  border-left: solid 10px #cfb294;
  border-right: solid 2px silver;
  border-bottom: solid 1px silver;
}

.vertical_list li.you-are-here {
  padding-left: 5px;
  border-left: solid 10px #a4c4f4;
  border-right: solid 2px #cfb294;
  background-color: #324159;
  color: #94b1cf;
}

dd {
  margin-left: 0;
}

dl {
  padding: 0;
  margin-bottom: 1.3em;
}

dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 700;
}

dl dd {
  margin-left: 0;
  padding: 0 16px;
  margin-bottom: 16px;
}

dl dd p {
  margin-bottom: 0.8em;
}
/* blockquote */

blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: .25em solid #dfe2e5;
}

blockquote>:first-child {
  margin-top: 0;
}

blockquote>:last-child {
  margin-bottom: 0;
}

/* tables */

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  overflow: auto;
  width: 100%;
  word-break: normal;
}

td,
th {
  padding: 0;
}

table th {
  background-color: #fff;
  border-top: 1px solid #ccc;
  font-weight: 600;
}

table td,
table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}


